<%= form_for(@device) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :type_dev, placeholder: "Device Type" %>
  	<%= f.text_field :status, placeholder: "Current Status" %>
    <%= f.text_area :log, placeholder: "Log..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>